/* Header */

.photograph-header {
    background-color: #FAFAFA;
    margin: 0 5% 2em 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.photographer-header__detail{
    margin-left: 0px;
}

.photographer-header__name{
    color: #D3573C;
    font-size: 3em;
    margin: 0;
}

.photographer-header__location{
    display: flex;
    color: #901C1C;
    font-size: 1.5em;
    margin: 7px 0 15px 0;
}

.photographer-header__tagline{
    color: #525252;
}

.photographer-header__img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* Tri Section */

.media-tri{
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 2em 5%;
    display: flex;
}

select{
    background-color: #901C1C;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin-left: 15px;
    padding-left: 15px;
    font-size: 1em;
    color: white;
}

/* Media Section */

.media_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 0 2% 3% 2%;
}

.mediaLink{
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.3%;
}

.media-content{
    height: 300px;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    object-fit: cover;
    transition: transform .2s;
}

.media-content:hover{
    transform: scale(1.08);
}

.media-detail{
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-top: 9px;
    align-items: center;
    color: #901C1C;
}

.media-title{
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.media-likes{
    font-weight:600;
    font-size: 18px;
    margin-right: 10px;
}

.like-details{
    display: flex;
}

.like-button{
    background-color: inherit;
    cursor: pointer;
    border: none;
}

.like-icon{
    font-size: 20px;
    color: #901C1C;
    transition: color 0.5s ease, transform 0.2s ease;
}

.like-icon:hover{
    transform: scale(1.3);
}

.like-icon__active{
    font-size: 20px;
    color: #ff0000;
    transition: color 0.5s ease, transform 0.2s ease;
}

.like-icon__active:hover{
    transform: scale(1.3);
}

/* Aside Section */

.info-sup{
    position: fixed;
    bottom: 0;
    right: 3%;
    background-color: #DB8876;
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    padding: 0 15px;
    font-size: 20px;
}

.info-like{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.aside-like-count{
    margin-right: 3px;
}

/* Contact modal */

#contact_modal{
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
    padding-top: 2.5%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    background-color:#D3573C;
}

.no-scroll {
    overflow: hidden;
 }
 
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto auto 4% auto;

}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    align-items: flex-start;
    margin-bottom: 20px;
}

.close-btn{
    border: none;
    background-color: inherit;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
}

.contact-name{
    font-size: 64px;
    font-weight: normal;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 10px;
}

#message {
    height: 200px;
}

.text-control {
    margin: 0;
    padding: 8px 2px;
    width: 100%;
    border: transparent;
    border-radius: 8px;
    font-size: 20px;
    height: 40px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.9em;
    color: #525252;
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
    align-self: flex-end;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 3px solid red;
}
  